@font-face {
  font-family: 'Frankfurter Medium';
  src: url('Font/Frankfurter Medium Regular.ttf')
}
@font-face {
    font-family: 'Bubbleboddy Neue';
    src: url('Font/BubbleboddyNeue-Light.ttf')
}
*{
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
body{
  color: #271D19;
  font-family: 'Bubbleboddy Neue', sans-serif;
  font-size: 22px;
  background-color: #FFF3DD;
}
main{
  padding: 10px;
  max-width: 800px;
  margin:0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  font-family: 'Frankfurter Medium', sans-serif;
  align-items: center;
  max-width: 1000px;
}

.logo img {
  width: 80px; 
  height: auto;
}

header a{
  text-decoration:none;
  color: inherit;
}

header nav{
  display:flex;
  gap: 15px;
  margin-top: 15px;
}

div.post{
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 20px;
  margin-bottom: 20px;
}

div.post div.texte h2{
  margin: 0;
  font-family: 'Frankfurter Medium', sans-serif;
  font-size: 32px;
}

div.post p.info{
  font-family: 'Frankfurter Medium', sans-serif;
  font-size: 15px;
  margin: 0;
  color: #308B94;
  display: flex;
  gap: 5px;
}

div.post p.resume{
  margin: 6px 0;
  line-height: 1.4rem;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #51891D;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
.login button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #F4B113;
  border-radius: 5px;
  outline: none;
}

.login input[type="text"]::placeholder {
  color: #271D19;
}

.login button {
  background-color: #F4B113;
  color: #271D19;
  cursor: pointer;
}

.login button:hover {
  background-color: #E0A700;
}

.login div {
  margin-top: 10px;
  font-size: 14px;
  color: #271D19;
}

.login a {
  color: #F4B113;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #51891D;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register input[type="text"],
.register button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #F4B113;
  border-radius: 5px;
  outline: none;
}

.register input[type="text"]::placeholder {
  color: #271D19;
}

.register button {
  background-color: #F4B113;
  color: #271D19;
  cursor: pointer;
}

.register button:hover {
  background-color: #E0A700;
}

.register div {
  margin-top: 10px;
  font-size: 14px;
  color: #271D19;
}

.register a {
  color: #F4B113;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}

form h1{
  font-family: 'Frankfurter Medium', sans-serif;
  font-size: 45px;
  color: #FFF3DD;
  margin-bottom: 5px;
}

input{
  background-color: #FFF3DD;
  border-bottom: 2px solid #271D19;
  text-decoration: none;
  font-family: 'Bubbleboddy Neue';
  font: #271D19;
  font-size: 1rem;
}

button{
  border-bottom: 2px solid #271D19;
  font-family: 'Frankfurter Medium', sans-serif;
  font: #271D19;
  font-size: 1rem;
}